language: node_js
node_js: '6'
os: linux
dist: xenial
services:
- docker
cache:
  directories:
  - node_modules
branches:
  only:
  - master
  - /^v\d+\.\d+\.\d+/
install:
- npm install
- npm update
script: ci/script.sh
after_success:
- nyc report --reporter=text-lcov > coverage.lcov
- $(npm bin)/codecov
