name: CI

on:
  push:
    branches:
      - master
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 16.x]

    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Snapcraft setup
        run: |
          curl https://cli-assets.heroku.com/apt/release.key | sudo apt-key add -
          sudo apt-get update
          sudo snap install snapcraft --classic
      - name: Cache node_modules
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ matrix.node-version }}-build-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.OS }}-build-${{ env.cache-name }}-
            ${{ runner.OS }}-build-
            ${{ runner.OS }}-
      - name: Install
        run: |
          npm install --engine-strict
          npm update
      - name: Lint
        run: npm run lint
      - name: Test
        run: npm run coverage
        env:
          DEBUG: electron-installer-snap:snapcraft
      - name: Upload code coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.lcov
          env_vars: NODE_VERSION
        env:
          NODE_VERSION: ${{ matrix.node-version }}
